:root{
    --calc-width: 300px;
    --calc-height: 350px;
    --calc-rgb: 180;
}

.calculator {
    width: var(--calc-width);
    height: var(--calc-height);
    background-color: rgb(var(--calc-rgb), var(--calc-rgb), var(--calc-rgb));
    margin: 30px auto;
    padding: 15px;
    border-radius: 4px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 0 auto;
    column-gap: 8px;
    row-gap: 8px;
    width: var(--calc-width);
    height: var(--calc-height);
}

#screen {
    grid-column: 1/5;
    background-color: #f1f3f4;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
}

#display {
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
    font-size: max(32px,1.6vw);
    text-align: right;
    overflow: hidden;
}

#clear {
    grid-column-start: 3;
}

.digit {
    background-color: #f1f3f4;
}

.operator {
    background-color: #dadce0;
}

#equals {
    background-color: #6cb1ee;
}

#clear, #delete {
    background-color: #bfe1ff;
}

button {
    border-radius: 10px;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    filter: brightness(.9);
}

button:active {
    border-style: inset;
}